<div class="city-component">
    <h2>{{city?.title | uppercase}} Details</h2>
    <div class="form">
        <div><span>ID: </span>{{city?.id}}</div>
        <label for="new-city">City name: </label>
        <input id="new-city" [(ngModel)]="city.title" placeholder="name" />

        <label for="new-city">Content: </label>
        <input id="new-city" [(ngModel)]="city.content" placeholder="content" />

        <label for="new-city">Image URL: </label>
        <img src="{{city.image_url}}">
        <input id="new-city" [(ngModel)]="city.image_url" placeholder="image_url" />
        <div><span>Coordinates: </span>{{city?.lat + ', ' + city?.long}}</div>
        <div><span>Creation Date: </span>{{city?.created_at | date: 'dd/MM/yyyy'}}</div>
        <div><span>Modification Date: </span>{{city?.updated_at | date: 'dd/MM/yyyy'}}</div>
        <div class="footer">
            <button class="footer-button" type="button" (click)="save()">Save</button>
            <button type="button" class="delete footer-button" title="delete city" (click)="delete(city)">Delete</button>
        </div>
    </div>
</div>